
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


.assignments{
  color:orangered;
  text-decoration-line: underline;
  padding-left: 70px;
}

.headings {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  body{
    background-color:skyblue;
  }