body {text-align: center;}
.title {font-size: 30px; font-weight: bold;}
.teampic {height:fit-content; width: fit-content;}
.individualpics {height:200px; width: 150px}
hr {
  margin-top: 0%;
  margin-bottom: 0%;
  border: none;
  height: 1px;
  width: 20p;
  color:whitesmoke;
  background-color: whitesmoke;
}
.portfolios {width: 15%; display: inline-table;}

a:link {
  text-decoration: none;
  color: whitesmoke;
}

a:visited {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  text-decoration: none;
  color: whitesmoke;
}

a:active {
  text-decoration: none;
  color: whitesmoke;
}